<md-dialog aria-label="Cambiar password" class="password-edit-dialog">
    <form ng-cloak>
        <md-toolbar class="vaa-md-toolbar">
            <div class="md-toolbar-tools">
                <h2>{{titulo}}</h2>
                <span flex></span>
                <md-button class="md-icon-button material-icons vaa-md-toolbar-close-button" ng-click="cancelar()">
                    close
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="vaa-input" layout="row" ng-show="mostrarConfirmacionPassword">
                    <label class="label-login">Password Actual</label>
                    <input class="input-set-password" type="password" required ng-model="old_password" maxlength="50">
                </md-input-container>
                <md-input-container class="vaa-input" layout="row">
                    <p>
                        <label class="label-login">Password</label>
                        <input class="input-login" id="password" type="password" required ng-model="password" maxlength="50">
                    </p>
                    <ul id="strength" check-strength="password" style="width: 110px; margin-top: 19px;"></ul>
                </md-input-container>
                <md-input-container class="vaa-input" layout="row" ng-show="mostrarConfirmacionPassword">
                    <label class="label-login">Confirmación de Password</label>
                    <input class="input-login" id="rePassword" type="password" required ng-model="re_password" maxlength="50">
                </md-input-container>
                <p style="font-size: 12px; padding-left: 12px; color: #4e4e4e">
                    <span ng-click="verPassword();" class="pointer">Ver Password</span>
                    <span style="margin-left: 20px;" ng-click="autogenerarPassword();" class="pointer">Autogenerar Password</span>
                </p>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancelar()">
                Cancelar
            </md-button>
            <md-button ng-click="aceptar()" class="md-primary">
                Aceptar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>